<section id="about" class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="img-block">
                        <img src="images/blog-lg.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 pt-6 col-md-12">
                    <div class="row justy-content-center">
                        <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                     <i class="ti-thumb-up"></i>
                                </div>
                                <h4 class="mb-2">The right advice</h4>
                                <p>Our team are experts in matching you with the right provider.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                   <i class="ti-cup"></i>
                                </div>
                                <h4 class="mb-2">Recognised for excellence</h4>
                                <p>We've been awarded for our high rate of customer satisfaction.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                    <i class="ti-wallet"></i>
                                </div>
                                <h4 class="mb-2">Compare the best</h4>
                                <p>We only compare market leaders with a reputation for service quality.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="text-center about-block">
                                <div class="img-icon mb-4">
                                    <i class="ti-dashboard"></i>
                                </div>
                                <h4 class="mb-2">Premium Services</h4>
                                <p>We only compare market leaders with a reputation for service quality.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>