 <section id="work-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-heading">
                            <h1>We are trying to deliver 100% quality product and success their business to achieve ultimate goal.</h1>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p class="lead">We are providing best service since 1990 to present , committed to best service deliveryNullam metus enim, placerat in lacus vel, porttitor egestas libero. Etiam ex risus, feugiat eget accumsan eu, sagittis eu urna. In eget ultrices metus. Nunc accumsan </p>
                    </div>
                </div>
            </div>
        </section>
    
        <section id="work" class="section-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="images/work/10.jpg" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Probiz portfolio template</h4>
                                <p>Web Development</p>
                                <a href="single-project.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="images/work/11.jpg" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Probiz portfolio template</h4>
                                <p>Web Development</p>
                                <a href="single-project.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-0">
                        <div class="work-block">
                            <img src="images/work/12.jpg" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Probiz portfolio template</h4>
                                <p>Web Development</p>
                                <a href="single-project.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-lg-3 col-md-6 p-0">
                        <div class="work-block">
                            <img src="images/work/15.jpg" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Probiz portfolio template</h4>
                                <p>Web Development</p>
                                <a href="single-project.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 p-0">
                        <div class="work-block">
                            <img src="images/work/14.jpg" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Probiz portfolio template</h4>
                                <p>Web Development</p>
                                <a href="single-project.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 p-0">
                        <div class="work-block">
                            <img src="images/work/11.jpg" alt="work-img" class="img-fluid">
                            <div class="overlay-content-block">
                                <h4>Probiz portfolio template</h4>
                                <p>Web Development</p>
                                <a href="single-project.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/10.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Probiz portfolio template</h4>
                                    <p>Web Development</p>
                                    <a href="single-project.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>