 <!-- HERO
    ================================================== -->
    <section class="banner-area py-5" id="banner-3">
       <div class="overlay"></div>
        <!-- Content -->
        <div class="container">
            <div class="row  align-items-center justify-content-center">
                <div class="col-md-12 col-lg-9">
                   <div class="banner-content text-center style-2">
                        <!-- Heading -->
                        <h1 class="display-4 mb-4 ">
                            Industry Leading Managed Services Solutions
                        </h1>

                        <!-- Subheading -->
                        <p class="lead mb-5 pr-0">
                            Pindom is set of landing and support pages aimed at helping companies promote new products and business launches.
                        </p>

                        <!-- Button -->
                        <a href="#!" target="_blank" class="btn btn-primary btn-circled">
                                Purchase now
                        </a>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
